#scheda{
    width: 400px;
    height: 200px;
    border: 5px solid;
    padding: 10px;
}

#nome{
    position: absolute;
    top: 50px;
    left: 120px;
}
#cognome{
    position: absolute;
    top: 100px;
    left: 120px;
}
#anni{
    position: absolute;
    top: 150px;
    left: 120px;
}
#lnome{
    position: absolute;
    top: 50px;
    left: 20px;
}
#lcognome{
    position: absolute;
    top: 100px;
    left: 20px;
}
#lanni{
    position: absolute;
    top: 150px;
    left: 20px;
}